*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

:root{
    --color-accent: #CF6F49;
}

a{
    text-decoration: none;
    color: black;
}

.find{
    background-color: var(--color-accent);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.find:hover{
    border: 1px solid var(--color-accent);
    background-color: #fff;
    color: var(--color-accent);
}

header .close{
    display: grid;
    grid-template-columns: 14px 1fr 14px;
    grid-template-rows: 40px;
    background-color: #939878;
    align-items: center;
    justify-items: center;
    padding: 0 2vw;
    color: white;
}

header .close span{
    grid-column: 2/3;
    font-size: 14px;
    font-weight: 300;
}

header .close svg{
    height: 100%;
    width: 100%;
}

header .nav{
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding: 1vw 8vw;
}

header .nav>a{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

header .nav>a span{
    font-weight: 500;
}

header nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1fr;
    align-items: center;
    justify-content: end;
}

header nav a:hover{
    color: var(--color-accent);
}

header nav .properties{
    display: grid;
    grid-template-columns: min-content 14px;
    align-items: center;
    column-gap: 10px;
}

header nav .search{
    display: grid;
    grid-template-columns: 14px min-content;
    align-items: center;
    column-gap: 10px;
}

header nav .buttons{
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 20px;
}

header nav .buttons .card{
    display: grid;
    grid-template-columns: 14px min-content;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 6px;
    align-items: center;
    column-gap: 10px;
}

header nav .buttons .card:hover{
    border-color: var(--color-accent);
}

main section.first-window {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
    background-color: #F5F5F2;
    position: relative;
}

main section.first-window img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.first-window div{
    display: grid;
    grid-template-rows: repeat(4, min-content);
    align-self: center;
    padding: 0 14vw 0 8vw;
    row-gap: 20px;
    
}

#svg-left, #svg-right{
    position: absolute;
}

#svg-left{
    top: 0;
    left: 0;
    z-index: 1;
}

#svg-right{
    bottom: 0;
    right: 50%;
    transform: rotate(180deg);
}

main section.first-window div>span{
    background-color: #E7E8E3;
    padding: 4px 10px;
    justify-self: start;
    border-radius: 6px;
    color: #2A2C1F;
}

main section.first-window h1{
    font-size: 56px;
    padding: 20px 0;
    color: #2A2C1F;
}

main section.first-window p{
    font-size: 20px;
    color: #65665C;
}

main section.first-window form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    justify-items: start;
    column-gap: 20px;
}

main section.first-window form label{
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    width: 100%;
    padding: 0 20px;
    align-items: center;
}

main section.first-window form label input{
    border: none;
    padding: 0 20px;
    height: 100%;
}

main section.first-window form label input:focus{
    border-color: white;
}

main section.first-window form label input::placeholder{
    font-size: 18px;
}

main section.first-window form label svg{
    height: 18px;
    width: 18px;
}

main section.logotips{
    padding: 6vw 8vw;
    display: grid;
    grid-template-columns: 3fr 3fr 6fr;
    align-items: center;
}

main section.logotips div{
    justify-self: end; 
    grid-column: 3/4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    grid-template-rows: 30px;
}

main section.logotips div svg{
    width: 100%;
}

main section.works{
    padding: 0 8vw;
    display: grid;
    justify-items: center;
    row-gap: 20px;
}

main section.works h2{
    font-size: 48px;
}

main section.works>p{
    width: 50%;
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
    color: #65665C;
}

main section.works ul{
    padding-top: 40px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3vw;
}

main section.works ul li{
    display: grid;
    grid-template-rows: 48px min-content max-content;
    justify-items: center;
    row-gap: 24px;
    border: 1px solid #F2F2F0;
    padding: 3vw;
    border-radius: 16px;
}

main section.works ul li h3{
    font-size: 24px;
}

main section.works ul li svg{
    height: 100%;
    background-color: #FAE8E1;
    padding: 10px;
    color: var(--color-accent);
    border-radius: 6px;
}

main section.works ul li p{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #65665C;
}

main section.best {
    padding: 6vw 8vw;
    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-template-rows: 600px;
    align-items: center;
}

main section.best div{
    display: grid;
    padding-right: 12vw;
    row-gap: 30px;
}

main section.best div>span{
    background-color: #E7E8E3;
    padding: 4px 10px;
    justify-self: start;
    border-radius: 16px;
    color: #2A2C1F;
}

main section.best h2{
    font-size: 48px;
    font-weight: bold;
}

main section.best p{
    line-height: 1.7;
    color: #65665C;
}

main section.best .but {
    text-decoration: none;
    color: #2A2C1F;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 24px;
}

main section.best .but .explore{
    padding: 14px 25px;
    border: 1px solid #E7E8E3;
    border-radius: 6px;
}

main section.best .but.explore:hover{
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
}


main section.best .but .contact{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    column-gap: 6px;
}

main section.best .but .contact:hover{
    color: var(--color-accent);
}

main section.best .but .contact svg{
    width: 12px;
}


main section.best form{
    text-decoration: none;
    color: #2A2C1F;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 24px;
}

main section.best img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

main section.fast {
    padding: 6vw 8vw;
    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-template-rows: 600px;
    align-items: center;
}

main section.fast .vse{
    display: grid;
    padding: 0 7vw 0 5vw ;
    row-gap: 30px;
}

main section.fast div>span{
    background-color: #E7E8E3;
    padding: 4px 10px;
    justify-self: start;
    border-radius: 16px;
    color: #2A2C1F;
}

main section.fast h2{
    font-size: 48px;
    font-weight: bold;
}

main section.fast p{
    line-height: 1.7;
    color: #65665C;
}

main section.fast .but {
    text-decoration: none;
    color: #2A2C1F;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 24px;
}

main section.fast .but .explore{
    padding: 14px 25px;
    border: 1px solid #E7E8E3;
    border-radius: 6px;
}

main section.fast .but.explore:hover{
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
}


main section.fast .but .contact{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    column-gap: 6px;
}

main section.fast .but .contact:hover{
    color: var(--color-accent);
}

main section.fast .but .contact svg{
    width: 12px;
}

main section.fast img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

main section.fast ul{
    padding-top: 40px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3vw;
}

main section.fast ul li{
    display: grid;
    grid-template-rows: 50px min-content max-content;
    justify-items: start;
    row-gap: 24px;
}

main section.fast ul li h3{
    font-size: 24px;
}

main section.fast ul li p{
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    color: #65665C;
}

main section.houses {
    padding: 6vw 8vw;
    align-items: center;
    background-color: #F5F5F2;
}

main section.houses .house {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px;
    align-items: center;
}

main section.houses .but {
    text-decoration: none;
    color: #2A2C1F;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 24px;
}

main section.houses .but .explore{
    background-color: #fff;
    padding: 14px 25px;
    border: 1px solid #E7E8E3;
    border-radius: 6px;
}

main section.houses .but.explore:hover{
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
}


main section.houses .but .contact{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    column-gap: 6px;
}

main section.houses .but .contact:hover{
    color: var(--color-accent);
}

main section.houses .but .contact svg{
    width: 12px;
}

main section.houses>span{
    background-color: #E7E8E3;
    padding: 4px 10px;
    justify-self: center;
    border-radius: 16px;
    color: #2A2C1F;
}

main section.houses .house img {
    width: 405px;
    height: 268px;
    object-fit: cover;
}

main section.houses article {
    display: grid;
    background-color: #fff;
    padding: 1vw;
}

main section.houses h2{
    font-size: 48px;
    font-weight: bold;
}

main section.houses p{

    line-height: 1.7;
    color: #65665C;
}